#All {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    /* margin-bottom: 1.4667rem; */
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column;
    overflow: hidden;
    flex-wrap: nowrap;
}
#All .container{
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1; /* OLD - Firefox 19- */
    /* width: 20%; For old syntax, otherwise collapses. */
    -webkit-flex: 1; /* Chrome */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    /*解决ios上滑动不流畅*/
    -webkit-overflow-scrolling: touch;
    /* height: 100%; */
}


#All .BuyList .commodity{
    margin-top: 0.4rem;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column;
    background-color: #fff;
}
#All .BuyList .header{
    margin: 0.2933rem 0.3733rem 0 0.3733rem;
    height: 0.64rem;

    /* line-height: 0.64rem; */
    font-size: 0.32rem;
    color: #A0A0A0;
    overflow: hidden;
}
#All .BuyList .price{
    margin: 0.2933rem 0.3733rem 0 0.3733rem;
    margin-top: 0;
    height: 0.64rem;
    /* line-height: 0.64rem; */
    font-size: 0.3733rem;
    color: #787878;
    overflow: hidden;
}
#All .BuyList .price span{
   float: right;
   color: #282828;
}
#All .BuyList .header .edit{
    float: right;
    color: #FF5C7E;
}
#All .BuyList .bottom{
    min-height: 2.04rem;
    padding-top: 0.3467rem;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-between;
    background-color: #F3F3F3;
    margin-bottom: 0.1333rem;
}
#All .BuyList .bottom .checkbox{

    position: relative;
}
#All .BuyList .bottom .checkbox input{
    width: 0.3733rem;
    height: 0.3733rem;
    opacity:0;
    position: absolute;
    margin:0;
    z-index: 1;
}
#All .BuyList .bottom .checkbox span{
    display: inline-block;
    width: 0.3733rem;
    height: 0.3733rem;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    -webkit-transition:color .2s;
    transition:color .2s;
    border: 0.0133rem solid #dadada;
    position: relative;
}
#All .BuyList .bottom .checkbox input:checked+span::before{
    content: "";
    display: block;
    width: 0.1867rem;
    height: 0.1867rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #ff65b1;
    border-radius: 50%;
}
#All .BuyList .bottom img{
    margin: 0 0.3733rem;
    width: 1.3333rem;
    height: 1.3333rem;
    border-radius: 0.1333rem;
    margin-right: 0.2667rem;
}
#All .BuyList .bottom .commodityInfo{
    flex: 1;
}
#All .BuyList .bottom .commodityInfo h4{
    font-size: 0.3733rem;
    font-weight: 500;
    color: #282828;
    margin-bottom: 0.2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
#All .BuyList .bottom .commodityInfo .specification{
    font-size: 0.32rem;
    color: #a0a0a0;
}
#All .BuyList .bottom .purchaseInfo{
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column;
    align-items: flex-end;
    margin-left: 0.5333rem;

}
#All .BuyList .bottom .purchaseInfo .price{
    font-size: 0.32rem;
    color: #282828;
    bottom: 0.2667rem;
}
#All .BuyList .bottom .purchaseInfo .number{
    font-size:0.32rem;
    color: #a0a0a0;
    float: right;
    margin-right: 0.3467rem;
    margin-bottom: 0.6667rem;

}


#All .footer{
    width: 100%;
    height: 1.3333rem;
    /* position: absolute; */
    /* bottom: 0; */
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    background-color: #fff;
    overflow: hidden;
    flex: 0 0 auto;
}
#All .footer .statistics{
    flex: 1;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    justify-content: space-between;
}
#All .footer .checkbox{
    position: relative;
    margin-right: 0.5067rem;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    margin-left: 0.6rem;
}
#All .footer .checkbox input{
    width: 0.3733rem;
     height: 0.3733rem;
     opacity:0;
     position: absolute;
     margin:0;
     z-index: 1;
 }
 #All .footer .checkbox span{
     display: inline-block;
     width: 0.3733rem;
     height: 0.3733rem;
     background-color: #fff;
     border-radius: 50%;
     text-align: center;
     -webkit-transition:color .2s;
     transition:color .2s;
     border: 0.0133rem solid #dadada;
     position: relative;
     margin-right: 0.1333rem;
 }
 #All .footer .checkbox input:checked+span::before{
     content: "";
     display: block;
     width: 0.1867rem;
     height: 0.1867rem;
     position: absolute;
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     background-color: #ff65b1;
     border-radius: 50%;
 }
 #All .footer .checkbox label{
     font-size: 0.32rem;
     color: #a0a0a0;
 }
 #All .footer .statistics .totlePrice{
     font-size: 0.2667rem;
     color: #a0a0a0;
     margin-right: 0.4267rem;
 }
 #All .footer .statistics .totlePrice em{
     font-style: normal;
     color: #ff65b1;
 }
#All .footer .ClearingButton{
    font-size: 0.4533rem;
    color: #fff;
    line-height: 1.3333rem;
    text-align: center;
    width: 2.6667rem;
    background-color: #ff5c7e;
    border: none;
}
