body {
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: PingFang-SC-Medium;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
}

#headera {
  background-color: #fff;
  color: #282828
}

#submits {
  color: #ff65b1
}

.rightText img {
  width: 1.3333rem;
  height: 1.3333rem;
  position: absolute;
  top: 0;
  right: 0;
}

.file {
  position: absolute;
  left: 0;
  top: 0;
  height: 1.3333rem;
  width: 1.3333rem;
  opacity: 0;
}

.btcright {
  position: relative;
  height: 1.3333rem;
  /*background: url("../images/woman.png") center center;*/
  /* position: relative; */
  margin-top: 0.3rem;
  /* top: 0; */
  width: 1.3333rem;
  background-size: 100%;
}

.distpicker-address-wrapper .address-container {
  background-color: #fff;
  color: #282828
}

.distpicker-address-wrapper .address-header ul li.active {
  border-bottom: #52697f solid 3px;
  color: #282828;
}

.mint-msgbox-confirm {
  color: #ff65b1 !important
}
#course .preoperative .fileInputContainer img{
  width: 1.333rem;
  height: 1.333rem;
  margin-right: 0.4rem;
}
